<a href="https://colab.research.google.com/github/GayanthaL/detection-of-CKD-using-machine-learning-techniques/blob/main/dep_local.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
from warnings import filterwarnings
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from fancyimpute import IterativeImputer
from sklearn.preprocessing import RobustScaler
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import joblib

In [ ]:
#Ignore warnings for more covinience
import warnings
from warnings import filterwarnings
filterwarnings("ignore")

In [ ]:
# Step 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
# Step 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Step 2: Load the dataset using Pandas
import pandas as pd

# Replace 'path_to_your_file' with the actual path to your CSV file in Google Drive
file_path = '/content/drive/My Drive/Research/Sri Lankan CKD Dataset.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
print(data.head())

Mounted at /content/drive
   id   age  weight gender      cr  cru    al  gl     na    ca    k     cl  \
0   1  72.0    52.0      M  249.43  NaN  34.9 NaN  142.0  2.43  5.0  113.0
1   2  76.0    52.0      M  216.05  NaN  41.3 NaN  145.0  2.40  4.7  114.0
2   3  60.0    80.4      M  155.40  NaN  33.7 NaN  135.0  2.00  4.2  103.0
3   4  65.0    53.4      F  127.50  NaN  41.8 NaN  138.0  2.80  4.4  100.0
4   5  59.0    60.4      M  172.71  NaN  39.7 NaN  128.0  2.20  3.6   91.0

     pr  iron     ua   wbc   rbc    hg    plt  class
0   NaN   NaN  415.8   NaN   NaN   NaN    NaN      1
1   NaN  13.0    NaN  9.85  3.44  11.3  356.0      1
2  11.6  12.0    NaN  9.24  4.60   8.4  329.0      1
3   NaN   NaN  290.7  9.87  4.32  11.7  364.0      1
4   NaN   NaN  367.8  8.93  4.82  13.8  214.0      1

In [ ]:
# dropping id column
data.drop('id', axis = 1, inplace = True)

In [ ]:
# Dictionary mapping abbreviated column names to full names
column_name_mapping = {
    "age": "Age",
    "weight": "Weight",
    "gender": "Gender",
    "cr": "Creatinine",
    "cru": "Creatinine Clearance",
    "al": "Albumin",
    "gl": "Glucose",
    "na": "Sodium",
    "ca": "Calcium",
    "k": "Potassium",
    "cl": "Chloride",
    "wbc": "White Blood Cell Count",
    "rbc": "Red Blood Cell Count",
    "hg": "Hemoglobin",
    "plt": "Platelet Count",
    "class": "Class",  # Assuming "class" is the target variable; leave it as is
    # Add any remaining columns if necessary
}

# Rename columns in the DataFrame
data.rename(columns=column_name_mapping, inplace=True)

# Display the updated DataFrame's columns to confirm renaming
print("Updated column names:")
print(data.columns)

Updated column names:
Index(['Age', 'Weight', 'Gender', 'Creatinine', 'Creatinine Clearance',
       'Albumin', 'Glucose', 'Sodium', 'Calcium', 'Potassium', 'Chloride',
       'pr', 'iron', 'ua', 'White Blood Cell Count', 'Red Blood Cell Count',
       'Hemoglobin', 'Platelet Count', 'Class'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Identify categorical columns (assuming 'gender' is categorical)
categorical_columns = ['Gender']

# Apply Label Encoding
for column in categorical_columns:
    data[column] = label_encoder.fit_transform(data[column])

# Display the first few rows to verify encoding
print(data.head())

    Age  Weight  Gender  Creatinine  Creatinine Clearance  Albumin  Glucose  \
0  72.0    52.0       1      249.43                   NaN     34.9      NaN
1  76.0    52.0       1      216.05                   NaN     41.3      NaN
2  60.0    80.4       1      155.40                   NaN     33.7      NaN
3  65.0    53.4       0      127.50                   NaN     41.8      NaN
4  59.0    60.4       1      172.71                   NaN     39.7      NaN

   Sodium  Calcium  Potassium  Chloride    pr  iron     ua  \
0   142.0     2.43        5.0     113.0   NaN   NaN  415.8
1   145.0     2.40        4.7     114.0   NaN  13.0    NaN
2   135.0     2.00        4.2     103.0  11.6  12.0    NaN
3   138.0     2.80        4.4     100.0   NaN   NaN  290.7
4   128.0     2.20        3.6      91.0   NaN   NaN  367.8

   White Blood Cell Count  Red Blood Cell Count  Hemoglobin  Platelet Count  \
0                     NaN                   NaN         NaN             NaN
1                    9.85                  3.44        11.3           356.0
2                    9.24                  4.60         8.4           329.0
3                    9.87                  4.32        11.7           364.0
4                    8.93                  4.82        13.8           214.0

   Class
0      1
1      1
2      1
3      1
4      1

In [ ]:
# Calculate missing value percentage for each column
missing_percentage = data.isnull().mean() * 100

# Identify columns to drop based on the 80% missing value threshold
threshold = 80
cols_to_drop = missing_percentage[missing_percentage > threshold].index

# Drop the identified columns
data.drop(columns=cols_to_drop, inplace=True)

# Display the remaining columns and their info
print("Columns after dropping those with more than 80% missing values:")
print(data.info())

Columns after dropping those with more than 80% missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     405 non-null    float64
 1   Weight                  402 non-null    float64
 2   Gender                  406 non-null    int64
 3   Creatinine              390 non-null    float64
 4   Albumin                 207 non-null    float64
 5   Sodium                  366 non-null    float64
 6   Calcium                 91 non-null     float64
 7   Potassium               367 non-null    float64
 8   Chloride                213 non-null    float64
 9   White Blood Cell Count  366 non-null    float64
 10  Red Blood Cell Count    363 non-null    float64
 11  Hemoglobin              373 non-null    float64
 12  Platelet Count          370 non-null    float64
 13  Class                   406 non-null    int64
dtypes: float64(12), int64(2)
memory usage: 44.5 KB
None

In [ ]:
!pip install fancyimpute

Collecting fancyimpute
  Downloading fancyimpute-0.7.0.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Collecting knnimpute>=0.1.0 (from fancyimpute)
  Downloading knnimpute-0.1.0.tar.gz (8.3 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scikit-learn>=0.24.2 in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.5.2)
Requirement already satisfied: cvxpy in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.5.4)
Requirement already satisfied: cvxopt in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.3.2)
Requirement already satisfied: pytest in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (8.3.3)
Collecting nose (from fancyimpute)
  Downloading nose-1.3.7-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.10/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (3.5.0)
Requirement already satisfied: osqp>=0.6.2 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (0.6.7.post3)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (2.0.14)
Requirement already satisfied: clarabel>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (0.9.0)
Requirement already satisfied: scs>=3.2.4.post1 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (3.2.7)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (24.2)
Requirement already satisfied: pluggy<2,>=1.5 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (1.5.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (1.2.2)
Requirement already satisfied: tomli>=1 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (2.1.0)
Requirement already satisfied: qdldl in /usr/local/lib/python3.10/dist-packages (from osqp>=0.6.2->cvxpy->fancyimpute) (0.1.7.post4)
Downloading nose-1.3.7-py3-none-any.whl (154 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.7/154.7 kB 9.8 MB/s eta 0:00:00
Building wheels for collected packages: fancyimpute, knnimpute
  Building wheel for fancyimpute (setup.py) ... done
  Created wheel for fancyimpute: filename=fancyimpute-0.7.0-py3-none-any.whl size=29879 sha256=2fa214408638a087780cf52533fa32bc8dd0ae3ccbf22f924324b91342f08fbb
  Stored in directory: /root/.cache/pip/wheels/7b/0c/d3/ee82d1fbdcc0858d96434af108608d01703505d453720c84ed
  Building wheel for knnimpute (setup.py) ... done
  Created wheel for knnimpute: filename=knnimpute-0.1.0-py3-none-any.whl size=11329 sha256=62f5f44e8e74483700b5825a415aa853fca51ea634b464f4edeca5ea9c613d01
  Stored in directory: /root/.cache/pip/wheels/46/06/a5/45a724630562413c374e29c08732411d496092408b3a7bf754
Successfully built fancyimpute knnimpute
Installing collected packages: nose, knnimpute, fancyimpute
Successfully installed fancyimpute-0.7.0 knnimpute-0.1.0 nose-1.3.7

In [ ]:
from sklearn.experimental import enable_iterative_imputer  # Enable experimental iterative imputer
from fancyimpute import IterativeImputer

# MICE Imputation using fancyimpute's IterativeImputer
mice_imputer = IterativeImputer(max_iter=10, random_state=42)
data_iter_imputed = pd.DataFrame(mice_imputer.fit_transform(data), columns=data.columns)
print("\nMICE Imputation:")
print(data_iter_imputed.head())

MICE Imputation:
    Age  Weight  Gender  Creatinine  Albumin  Sodium  Calcium  Potassium  \
0  72.0    52.0     1.0      249.43     34.9   142.0     2.43        5.0
1  76.0    52.0     1.0      216.05     41.3   145.0     2.40        4.7
2  60.0    80.4     1.0      155.40     33.7   135.0     2.00        4.2
3  65.0    53.4     0.0      127.50     41.8   138.0     2.80        4.4
4  59.0    60.4     1.0      172.71     39.7   128.0     2.20        3.6

   Chloride  White Blood Cell Count  Red Blood Cell Count  Hemoglobin  \
0     113.0                7.898541              3.990003   11.093988
1     114.0                9.850000              3.440000   11.300000
2     103.0                9.240000              4.600000    8.400000
3     100.0                9.870000              4.320000   11.700000
4      91.0                8.930000              4.820000   13.800000

   Platelet Count  Class
0      262.760974    1.0
1      356.000000    1.0
2      329.000000    1.0
3      364.000000    1.0
4      214.000000    1.0

In [ ]:
data_iter_imputed = data_iter_imputed.drop(['Weight','Gender','Platelet Count'], axis = 1)

In [ ]:
data_iter_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     406 non-null    float64
 1   Creatinine              406 non-null    float64
 2   Albumin                 406 non-null    float64
 3   Sodium                  406 non-null    float64
 4   Calcium                 406 non-null    float64
 5   Potassium               406 non-null    float64
 6   Chloride                406 non-null    float64
 7   White Blood Cell Count  406 non-null    float64
 8   Red Blood Cell Count    406 non-null    float64
 9   Hemoglobin              406 non-null    float64
 10  Class                   406 non-null    float64
dtypes: float64(11)
memory usage: 35.0 KB

In [ ]:
#save to csv data_iter_imputed
data_iter_imputed.to_csv('/content/drive/MyDrive/Data_mining/data_iter_imputed.csv', index=False)

In [ ]:
# Import necessary libraries for scaling
from sklearn.preprocessing import RobustScaler

# Initialize the RobustScaler
scaler = RobustScaler()

# Scale the Iterative Imputer (MICE) imputed data
X_iter_scaled = pd.DataFrame(scaler.fit_transform(data_iter_imputed.drop('Class', axis=1)), columns=data_iter_imputed.columns[:-1])
y_iter = data_iter_imputed['Class']

print("\nIterative Imputer (MICE) Scaled Data:")
print(X_iter_scaled.head())

Iterative Imputer (MICE) Scaled Data:
        Age  Creatinine   Albumin    Sodium   Calcium  Potassium  Chloride  \
0  0.963855    0.484127 -0.553580  0.666667  0.769735   0.623225  1.872811
1  1.156627    0.345168  0.748350  1.166667  0.630798   0.350498  2.018280
2  0.385542    0.092687 -0.797692 -0.500000 -1.221685  -0.104047  0.418126
3  0.626506   -0.023458  0.850063  0.000000  2.483282   0.077771 -0.018279
4  0.337349    0.164748  0.422867 -1.666667 -0.295443  -0.649502 -1.327496

   White Blood Cell Count  Red Blood Cell Count  Hemoglobin
0               -0.067195             -0.411288   -0.414455
1                0.590416             -0.854839   -0.361290
2                0.384855              0.080645   -1.109677
3                0.597155             -0.145161   -0.258065
4                0.280390              0.258065    0.283871

In [ ]:
sse = scaler.transform(One_raw)

In [ ]:
sse

array([[ -2.47583103,  -0.55432787,  -7.48024126, -23.        ,
          1.01649313,  -3.85152862, -14.56779045,  -2.52764493,
         -3.74609781,  -3.34401665]])

In [ ]:
X_iter_scaled.describe()

,Age,Creatinine,Albumin,Sodium,Calcium,Potassium,Chloride,White Blood Cell Count,Red Blood Cell Count,Hemoglobin
count,406.000000,406.000000,4.060000e+02,406.000000,406.000000,4.060000e+02,4.060000e+02,4.060000e+02,406.000000,406.000000
mean,-0.045835,0.598042,-1.215273e-01,0.046600,-0.095662,3.752666e-02,1.885882e-02,4.183346e-02,0.034432,-0.002285
std,0.687921,1.276777,1.044563e+00,0.910151,1.027973,6.900851e-01,9.307043e-01,7.817869e-01,0.717356,0.653792
min,-1.927711,-0.426350,-5.415475e+00,-4.000000,-5.621333,-1.831320e+00,-5.982489e+00,-1.667377e+00,-1.604839,-1.729032
25%,-0.481928,-0.204274,-5.387355e-01,-0.500000,-0.550155,-4.676838e-01,-4.546850e-01,-5.342685e-01,-0.467742,-0.464516
50%,0.000000,0.000000,7.227292e-16,0.000000,0.000000,-4.037569e-16,-1.033462e-15,-2.992398e-16,0.000000,0.000000
75%,0.518072,0.795726,4.612645e-01,0.500000,0.449845,5.323162e-01,5.453150e-01,4.657315e-01,0.532258,0.535484
max,1.542169,6.653989,3.433580e+00,2.333333,8.503852,2.805043e+00,5.509524e+00,3.518807e+00,1.685484,1.316129

In [ ]:
# Import necessary libraries for SMOTE
from imblearn.over_sampling import SMOTE

# Function to apply SMOTE
def apply_smote(X, y):
    smote = SMOTE(random_state=42)
    X_resampled, y_resampled = smote.fit_resample(X, y)
    return X_resampled, y_resampled

# Apply SMOTE to Iterative Imputer (MICE) scaled data
X_iter_resampled, y_iter_resampled = apply_smote(X_iter_scaled, y_iter)
print("\nIterative Imputer (MICE) Resampled Target Class Distribution:")
print(pd.Series(y_iter_resampled).value_counts())

Iterative Imputer (MICE) Resampled Target Class Distribution:
Class
1.0    223
0.0    223
Name: count, dtype: int64

In [ ]:
X = X_iter_resampled
y = y_iter_resampled

In [ ]:
# Import necessary libraries for splitting the data
from sklearn.model_selection import train_test_split

# Function to split the data
def split_data(X, y, test_size=0.2):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size)
    return X_train, X_test, y_train, y_test

# Call the split_data function to create X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = split_data(X, y) # Assuming X and y are defined as in ipython-input-15-f4f64fd73458

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Best parameters from your GridSearchCV result
best_params = {
    'n_estimators': 100,
    'max_depth': None,
    'min_samples_split': 2
}

# Initialize the Random Forest model with the best parameters
best_model = RandomForestClassifier(
    n_estimators=best_params['n_estimators'],
    max_depth=best_params['max_depth'],
    min_samples_split=best_params['min_samples_split'],
    random_state=42
)

# Train the model
best_model.fit(X_train, y_train)

# Evaluate on the training data
y_pred_train = best_model.predict(X_train)
train_accuracy = accuracy_score(y_train, y_pred_train)

# Evaluate on the test data
y_pred_test = best_model.predict(X_test)
test_accuracy = accuracy_score(y_test, y_pred_test)

# Print the results
print("Training Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)
print("\nClassification Report on Test Data:\n")
print(classification_report(y_test, y_pred_test))

Training Accuracy: 1.0
Test Accuracy: 0.9666666666666667

Classification Report on Test Data:

              precision    recall  f1-score   support

         0.0       0.96      0.98      0.97        50
         1.0       0.97      0.95      0.96        40

    accuracy                           0.97        90
   macro avg       0.97      0.96      0.97        90
weighted avg       0.97      0.97      0.97        90

In [ ]:
X_train.shape

(356, 10)

In [ ]:
X_train.head()

,Age,Creatinine,Albumin,Sodium,Calcium,Potassium,Chloride,White Blood Cell Count,Red Blood Cell Count,Hemoglobin
424,-0.629966,-0.184824,-0.694477,0.500000,0.159929,0.378936,0.734433,-0.191301,0.681141,0.593548
204,0.626506,4.304729,-1.875853,-0.166667,-1.862472,0.350498,-0.163748,-0.467714,-1.129032,-1.058065
396,-0.433735,0.588574,-0.634149,0.500000,0.102963,0.259589,0.709063,0.593785,-0.185484,-0.309677
182,-0.915663,-0.188684,-1.346944,0.333333,-0.188436,-0.194957,1.145469,-1.667377,-0.645161,-0.567742
251,-0.096386,-0.112528,-0.573923,2.000000,0.453616,0.441407,1.979833,-1.145052,0.725806,0.567742

In [ ]:
data_iter_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     406 non-null    float64
 1   Creatinine              406 non-null    float64
 2   Albumin                 406 non-null    float64
 3   Sodium                  406 non-null    float64
 4   Calcium                 406 non-null    float64
 5   Potassium               406 non-null    float64
 6   Chloride                406 non-null    float64
 7   White Blood Cell Count  406 non-null    float64
 8   Red Blood Cell Count    406 non-null    float64
 9   Hemoglobin              406 non-null    float64
 10  Class                   406 non-null    float64
dtypes: float64(11)
memory usage: 35.0 KB

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 356 entries, 424 to 197
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     356 non-null    float64
 1   Creatinine              356 non-null    float64
 2   Albumin                 356 non-null    float64
 3   Sodium                  356 non-null    float64
 4   Calcium                 356 non-null    float64
 5   Potassium               356 non-null    float64
 6   Chloride                356 non-null    float64
 7   White Blood Cell Count  356 non-null    float64
 8   Red Blood Cell Count    356 non-null    float64
 9   Hemoglobin              356 non-null    float64
dtypes: float64(10)
memory usage: 30.6 KB

In [ ]:
y_pred_trainOne = best_model.predict(X_train.iloc[[0]])

In [ ]:
y_pred_trainOne

array([0.])

In [ ]:
y_test.iloc[[0]]

3    1.0
Name: Class, dtype: float64

In [ ]:
import joblib

# Save the trained model to a file
joblib.dump(best_model, "/content/drive/MyDrive/Data_mining/random_forest_model.pkl")

['/content/drive/MyDrive/Data_mining/random_forest_model.pkl']

In [ ]:
loaded_model = joblib.load("/content/drive/MyDrive/Data_mining/random_forest_model.pkl")

In [ ]:
y_pred_trainOne_2= loaded_model.predict(X_test.iloc[[0]])

In [ ]:
y_pred_trainOne_2

array([1.])

--------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
One_raw = data_iter_imputed.iloc[[0]]

In [ ]:
One_raw

,Age,Creatinine,Albumin,Sodium,Calcium,Potassium,Chloride,White Blood Cell Count,Red Blood Cell Count,Hemoglobin,Class
0,72.0,249.43,34.9,142.0,2.43,5.0,113.0,7.898541,3.990003,11.093988,1.0

In [ ]:
One_raw_X_iter_scaled = pd.DataFrame(scaler.transform(One_raw.drop('Class', axis=1)))

In [ ]:
One_raw_X_iter_scaled

,0,1,2,3,4,5,6,7,8,9
0,0.963855,0.484127,-0.55358,0.666667,0.769735,0.623225,1.872811,-0.067195,-0.411288,-0.414455

In [ ]:
y_pred_trainOne_te = loaded_model.predict(One_raw_X_iter_scaled)

In [ ]:
y_pred_trainOne_te

array([1.])

In [ ]:
# Save the scaler
joblib.dump(scaler, "/content/drive/MyDrive/Data_mining/robust_scaler.pkl")

['/content/drive/MyDrive/Data_mining/robust_scaler.pkl']

In [ ]:
import pandas as pd
import os

In [ ]:
# Step 1: Read the CSV file
file_path = "/content/drive/MyDrive/Data_mining/data_iter_imputed.csv"  # Replace with your CSV file's path
data = pd.read_csv(file_path)

In [15]:
data.head(30)

,Age,Creatinine,Albumin,Sodium,Calcium,Potassium,Chloride,White Blood Cell Count,Red Blood Cell Count,Hemoglobin,Class
0,72.0,249.43,34.900000,142.000000,2.430000,5.000000,113.00000,7.898541,3.990003,11.093988,1.0
1,76.0,216.05,41.300000,145.000000,2.400000,4.700000,114.00000,9.850000,3.440000,11.300000,1.0
2,60.0,155.40,33.700000,135.000000,2.000000,4.200000,103.00000,9.240000,4.600000,8.400000,1.0
3,65.0,127.50,41.800000,138.000000,2.800000,4.400000,100.00000,9.870000,4.320000,11.700000,1.0
4,59.0,172.71,39.700000,128.000000,2.200000,3.600000,91.00000,8.930000,4.820000,13.800000,1.0
5,47.0,189.07,35.061912,143.000000,2.316382,5.500000,110.00000,7.740000,2.800000,8.200000,1.0
6,65.0,191.24,36.400000,141.000000,2.100000,3.300000,103.00000,8.400000,3.490000,11.000000,1.0
7,52.0,163.80,33.500000,137.000000,2.500000,3.600000,100.00000,8.210000,4.090000,12.100000,1.0
8,42.0,141.30,41.000000,135.000000,2.200000,5.000000,104.00000,6.120000,4.400000,10.000000,1.0
9,60.0,246.50,35.558928,128.000000,2.216002,4.200000,95.00000,5.290000,3.920000,11.900000,1.0
10,65.0,202.95,21.400000,152.000000,2.290912,5.200000,111.00000,13.570000,4.220000,13.100000,1.0
11,56.0,88.00,34.200000,134.000000,2.305604,4.500000,99.00000,8.923796,4.677896,12.928586,0.0
12,61.0,61.02,37.267205,138.000000,2.343166,4.300000,104.00000,5.820000,3.810000,12.200000,0.0
13,60.0,787.41,33.425776,129.000000,1.866178,3.200000,88.00000,8.720000,4.200000,11.100000,1.0
14,70.0,271.36,34.495736,133.000000,2.094561,5.000000,101.00000,11.890000,4.710000,13.700000,1.0
15,51.0,125.19,37.500000,142.000000,1.900000,4.100000,103.00000,6.960000,4.530000,13.200000,1.0
16,38.0,136.71,33.500000,140.000000,2.000000,4.400000,103.00000,7.507324,4.358651,12.094353,1.0
17,56.0,213.50,37.616992,126.000000,2.127786,3.700000,87.00000,6.880000,3.640000,11.800000,1.0
18,68.0,247.74,35.642380,133.000000,2.133977,2.300000,97.00000,7.620000,4.550000,13.100000,1.0
19,33.0,82.74,38.700000,139.000000,2.396732,3.800000,98.00000,9.940000,4.800000,13.800000,0.0
20,27.0,79.28,34.500000,141.000000,2.391576,3.500000,98.00000,10.130000,5.320000,15.300000,0.0
21,66.0,89.55,36.536223,133.000000,2.413753,4.700000,94.00000,10.740000,4.020000,10.100000,0.0
22,24.0,79.15,35.760720,134.000000,2.401519,3.600000,99.00000,7.763624,5.076585,13.742182,0.0
23,36.0,291.72,35.773916,133.000000,2.200000,2.800000,92.00000,8.860000,4.930000,13.200000,1.0
24,63.0,229.17,37.989028,133.000000,2.189743,4.300000,93.00000,8.549198,4.135590,11.742228,1.0
25,68.0,304.98,38.700000,139.000000,2.200000,4.700000,100.00000,12.490000,4.430000,12.600000,1.0
26,72.0,171.20,36.389760,136.232776,2.312877,4.378391,99.42581,8.590000,3.960000,9.600000,1.0
27,57.0,271.58,37.278800,138.000000,2.234129,4.400000,99.00000,10.280000,5.020000,15.600000,1.0
28,64.0,109.73,37.182733,133.000000,2.228698,4.800000,98.00000,8.580000,4.100000,11.500000,0.0
29,78.0,777.02,32.362990,132.000000,1.816969,3.800000,96.00000,9.490000,3.520000,10.000000,1.0

In [ ]:
datac = data.drop(columns = 'Class', axis = 1)

In [12]:

# Step 4: Create a directory to store individual row files
output_dir = "/content/drive/MyDrive/Data_mining/one raw data"
os.makedirs(output_dir, exist_ok=True)

# Step 5: Iterate over each row and save it as a separate CSV file
for idx, row in datac.iterrows():
    row_df = row.to_frame().T  # Convert the row to a DataFrame
    output_file = os.path.join(output_dir, f"row_{idx + 1}.csv")
    row_df.to_csv(output_file, index=False)
    print(f"Row {idx + 1} saved to {output_file}")

print(f"All rows have been saved as individual CSV files in the '{output_dir}' directory.")

Row 1 saved to /content/drive/MyDrive/Data_mining/one raw data/row_1.csv
Row 2 saved to /content/drive/MyDrive/Data_mining/one raw data/row_2.csv
Row 3 saved to /content/drive/MyDrive/Data_mining/one raw data/row_3.csv
Row 4 saved to /content/drive/MyDrive/Data_mining/one raw data/row_4.csv
Row 5 saved to /content/drive/MyDrive/Data_mining/one raw data/row_5.csv
Row 6 saved to /content/drive/MyDrive/Data_mining/one raw data/row_6.csv
Row 7 saved to /content/drive/MyDrive/Data_mining/one raw data/row_7.csv
Row 8 saved to /content/drive/MyDrive/Data_mining/one raw data/row_8.csv
Row 9 saved to /content/drive/MyDrive/Data_mining/one raw data/row_9.csv
Row 10 saved to /content/drive/MyDrive/Data_mining/one raw data/row_10.csv
Row 11 saved to /content/drive/MyDrive/Data_mining/one raw data/row_11.csv
Row 12 saved to /content/drive/MyDrive/Data_mining/one raw data/row_12.csv
Row 13 saved to /content/drive/MyDrive/Data_mining/one raw data/row_13.csv
Row 14 saved to /content/drive/MyDrive/Data_mining/one raw data/row_14.csv
Row 15 saved to /content/drive/MyDrive/Data_mining/one raw data/row_15.csv
Row 16 saved to /content/drive/MyDrive/Data_mining/one raw data/row_16.csv
Row 17 saved to /content/drive/MyDrive/Data_mining/one raw data/row_17.csv
Row 18 saved to /content/drive/MyDrive/Data_mining/one raw data/row_18.csv
Row 19 saved to /content/drive/MyDrive/Data_mining/one raw data/row_19.csv
Row 20 saved to /content/drive/MyDrive/Data_mining/one raw data/row_20.csv
Row 21 saved to /content/drive/MyDrive/Data_mining/one raw data/row_21.csv
Row 22 saved to /content/drive/MyDrive/Data_mining/one raw data/row_22.csv
Row 23 saved to /content/drive/MyDrive/Data_mining/one raw data/row_23.csv
Row 24 saved to /content/drive/MyDrive/Data_mining/one raw data/row_24.csv
Row 25 saved to /content/drive/MyDrive/Data_mining/one raw data/row_25.csv
Row 26 saved to /content/drive/MyDrive/Data_mining/one raw data/row_26.csv
Row 27 saved to /content/drive/MyDrive/Data_mining/one raw data/row_27.csv
Row 28 saved to /content/drive/MyDrive/Data_mining/one raw data/row_28.csv
Row 29 saved to /content/drive/MyDrive/Data_mining/one raw data/row_29.csv
Row 30 saved to /content/drive/MyDrive/Data_mining/one raw data/row_30.csv
Row 31 saved to /content/drive/MyDrive/Data_mining/one raw data/row_31.csv
Row 32 saved to /content/drive/MyDrive/Data_mining/one raw data/row_32.csv
Row 33 saved to /content/drive/MyDrive/Data_mining/one raw data/row_33.csv
Row 34 saved to /content/drive/MyDrive/Data_mining/one raw data/row_34.csv
Row 35 saved to /content/drive/MyDrive/Data_mining/one raw data/row_35.csv
Row 36 saved to /content/drive/MyDrive/Data_mining/one raw data/row_36.csv
Row 37 saved to /content/drive/MyDrive/Data_mining/one raw data/row_37.csv
Row 38 saved to /content/drive/MyDrive/Data_mining/one raw data/row_38.csv
Row 39 saved to /content/drive/MyDrive/Data_mining/one raw data/row_39.csv
Row 40 saved to /content/drive/MyDrive/Data_mining/one raw data/row_40.csv
Row 41 saved to /content/drive/MyDrive/Data_mining/one raw data/row_41.csv
Row 42 saved to /content/drive/MyDrive/Data_mining/one raw data/row_42.csv
Row 43 saved to /content/drive/MyDrive/Data_mining/one raw data/row_43.csv
Row 44 saved to /content/drive/MyDrive/Data_mining/one raw data/row_44.csv
Row 45 saved to /content/drive/MyDrive/Data_mining/one raw data/row_45.csv
Row 46 saved to /content/drive/MyDrive/Data_mining/one raw data/row_46.csv
Row 47 saved to /content/drive/MyDrive/Data_mining/one raw data/row_47.csv
Row 48 saved to /content/drive/MyDrive/Data_mining/one raw data/row_48.csv
Row 49 saved to /content/drive/MyDrive/Data_mining/one raw data/row_49.csv
Row 50 saved to /content/drive/MyDrive/Data_mining/one raw data/row_50.csv
Row 51 saved to /content/drive/MyDrive/Data_mining/one raw data/row_51.csv
Row 52 saved to /content/drive/MyDrive/Data_mining/one raw data/row_52.csv
Row 53 saved to /content/drive/MyDrive/Data_mining/one raw data/row_53.csv
Row 54 saved to /content/drive/MyDrive/Data_mining/one raw data/row_54.csv
Row 55 saved to /content/drive/MyDrive/Data_mining/one raw data/row_55.csv
Row 56 saved to /content/drive/MyDrive/Data_mining/one raw data/row_56.csv
Row 57 saved to /content/drive/MyDrive/Data_mining/one raw data/row_57.csv
Row 58 saved to /content/drive/MyDrive/Data_mining/one raw data/row_58.csv
Row 59 saved to /content/drive/MyDrive/Data_mining/one raw data/row_59.csv
Row 60 saved to /content/drive/MyDrive/Data_mining/one raw data/row_60.csv
Row 61 saved to /content/drive/MyDrive/Data_mining/one raw data/row_61.csv
Row 62 saved to /content/drive/MyDrive/Data_mining/one raw data/row_62.csv
Row 63 saved to /content/drive/MyDrive/Data_mining/one raw data/row_63.csv
Row 64 saved to /content/drive/MyDrive/Data_mining/one raw data/row_64.csv
Row 65 saved to /content/drive/MyDrive/Data_mining/one raw data/row_65.csv
Row 66 saved to /content/drive/MyDrive/Data_mining/one raw data/row_66.csv
Row 67 saved to /content/drive/MyDrive/Data_mining/one raw data/row_67.csv
Row 68 saved to /content/drive/MyDrive/Data_mining/one raw data/row_68.csv
Row 69 saved to /content/drive/MyDrive/Data_mining/one raw data/row_69.csv
Row 70 saved to /content/drive/MyDrive/Data_mining/one raw data/row_70.csv
Row 71 saved to /content/drive/MyDrive/Data_mining/one raw data/row_71.csv
Row 72 saved to /content/drive/MyDrive/Data_mining/one raw data/row_72.csv
Row 73 saved to /content/drive/MyDrive/Data_mining/one raw data/row_73.csv
Row 74 saved to /content/drive/MyDrive/Data_mining/one raw data/row_74.csv
Row 75 saved to /content/drive/MyDrive/Data_mining/one raw data/row_75.csv
Row 76 saved to /content/drive/MyDrive/Data_mining/one raw data/row_76.csv
Row 77 saved to /content/drive/MyDrive/Data_mining/one raw data/row_77.csv
Row 78 saved to /content/drive/MyDrive/Data_mining/one raw data/row_78.csv
Row 79 saved to /content/drive/MyDrive/Data_mining/one raw data/row_79.csv
Row 80 saved to /content/drive/MyDrive/Data_mining/one raw data/row_80.csv
Row 81 saved to /content/drive/MyDrive/Data_mining/one raw data/row_81.csv
Row 82 saved to /content/drive/MyDrive/Data_mining/one raw data/row_82.csv
Row 83 saved to /content/drive/MyDrive/Data_mining/one raw data/row_83.csv
Row 84 saved to /content/drive/MyDrive/Data_mining/one raw data/row_84.csv
Row 85 saved to /content/drive/MyDrive/Data_mining/one raw data/row_85.csv
Row 86 saved to /content/drive/MyDrive/Data_mining/one raw data/row_86.csv
Row 87 saved to /content/drive/MyDrive/Data_mining/one raw data/row_87.csv
Row 88 saved to /content/drive/MyDrive/Data_mining/one raw data/row_88.csv
Row 89 saved to /content/drive/MyDrive/Data_mining/one raw data/row_89.csv
Row 90 saved to /content/drive/MyDrive/Data_mining/one raw data/row_90.csv
Row 91 saved to /content/drive/MyDrive/Data_mining/one raw data/row_91.csv
Row 92 saved to /content/drive/MyDrive/Data_mining/one raw data/row_92.csv
Row 93 saved to /content/drive/MyDrive/Data_mining/one raw data/row_93.csv
Row 94 saved to /content/drive/MyDrive/Data_mining/one raw data/row_94.csv
Row 95 saved to /content/drive/MyDrive/Data_mining/one raw data/row_95.csv
Row 96 saved to /content/drive/MyDrive/Data_mining/one raw data/row_96.csv
Row 97 saved to /content/drive/MyDrive/Data_mining/one raw data/row_97.csv
Row 98 saved to /content/drive/MyDrive/Data_mining/one raw data/row_98.csv
Row 99 saved to /content/drive/MyDrive/Data_mining/one raw data/row_99.csv
Row 100 saved to /content/drive/MyDrive/Data_mining/one raw data/row_100.csv
Row 101 saved to /content/drive/MyDrive/Data_mining/one raw data/row_101.csv
Row 102 saved to /content/drive/MyDrive/Data_mining/one raw data/row_102.csv
Row 103 saved to /content/drive/MyDrive/Data_mining/one raw data/row_103.csv
Row 104 saved to /content/drive/MyDrive/Data_mining/one raw data/row_104.csv
Row 105 saved to /content/drive/MyDrive/Data_mining/one raw data/row_105.csv
Row 106 saved to /content/drive/MyDrive/Data_mining/one raw data/row_106.csv
Row 107 saved to /content/drive/MyDrive/Data_mining/one raw data/row_107.csv
Row 108 saved to /content/drive/MyDrive/Data_mining/one raw data/row_108.csv
Row 109 saved to /content/drive/MyDrive/Data_mining/one raw data/row_109.csv
Row 110 saved to /content/drive/MyDrive/Data_mining/one raw data/row_110.csv
Row 111 saved to /content/drive/MyDrive/Data_mining/one raw data/row_111.csv
Row 112 saved to /content/drive/MyDrive/Data_mining/one raw data/row_112.csv
Row 113 saved to /content/drive/MyDrive/Data_mining/one raw data/row_113.csv
Row 114 saved to /content/drive/MyDrive/Data_mining/one raw data/row_114.csv
Row 115 saved to /content/drive/MyDrive/Data_mining/one raw data/row_115.csv
Row 116 saved to /content/drive/MyDrive/Data_mining/one raw data/row_116.csv
Row 117 saved to /content/drive/MyDrive/Data_mining/one raw data/row_117.csv
Row 118 saved to /content/drive/MyDrive/Data_mining/one raw data/row_118.csv
Row 119 saved to /content/drive/MyDrive/Data_mining/one raw data/row_119.csv
Row 120 saved to /content/drive/MyDrive/Data_mining/one raw data/row_120.csv
Row 121 saved to /content/drive/MyDrive/Data_mining/one raw data/row_121.csv
Row 122 saved to /content/drive/MyDrive/Data_mining/one raw data/row_122.csv
Row 123 saved to /content/drive/MyDrive/Data_mining/one raw data/row_123.csv
Row 124 saved to /content/drive/MyDrive/Data_mining/one raw data/row_124.csv
Row 125 saved to /content/drive/MyDrive/Data_mining/one raw data/row_125.csv
Row 126 saved to /content/drive/MyDrive/Data_mining/one raw data/row_126.csv
Row 127 saved to /content/drive/MyDrive/Data_mining/one raw data/row_127.csv
Row 128 saved to /content/drive/MyDrive/Data_mining/one raw data/row_128.csv
Row 129 saved to /content/drive/MyDrive/Data_mining/one raw data/row_129.csv
Row 130 saved to /content/drive/MyDrive/Data_mining/one raw data/row_130.csv
Row 131 saved to /content/drive/MyDrive/Data_mining/one raw data/row_131.csv
Row 132 saved to /content/drive/MyDrive/Data_mining/one raw data/row_132.csv
Row 133 saved to /content/drive/MyDrive/Data_mining/one raw data/row_133.csv
Row 134 saved to /content/drive/MyDrive/Data_mining/one raw data/row_134.csv
Row 135 saved to /content/drive/MyDrive/Data_mining/one raw data/row_135.csv
Row 136 saved to /content/drive/MyDrive/Data_mining/one raw data/row_136.csv
Row 137 saved to /content/drive/MyDrive/Data_mining/one raw data/row_137.csv
Row 138 saved to /content/drive/MyDrive/Data_mining/one raw data/row_138.csv
Row 139 saved to /content/drive/MyDrive/Data_mining/one raw data/row_139.csv
Row 140 saved to /content/drive/MyDrive/Data_mining/one raw data/row_140.csv
Row 141 saved to /content/drive/MyDrive/Data_mining/one raw data/row_141.csv
Row 142 saved to /content/drive/MyDrive/Data_mining/one raw data/row_142.csv
Row 143 saved to /content/drive/MyDrive/Data_mining/one raw data/row_143.csv
Row 144 saved to /content/drive/MyDrive/Data_mining/one raw data/row_144.csv
Row 145 saved to /content/drive/MyDrive/Data_mining/one raw data/row_145.csv
Row 146 saved to /content/drive/MyDrive/Data_mining/one raw data/row_146.csv
Row 147 saved to /content/drive/MyDrive/Data_mining/one raw data/row_147.csv
Row 148 saved to /content/drive/MyDrive/Data_mining/one raw data/row_148.csv
Row 149 saved to /content/drive/MyDrive/Data_mining/one raw data/row_149.csv
Row 150 saved to /content/drive/MyDrive/Data_mining/one raw data/row_150.csv
Row 151 saved to /content/drive/MyDrive/Data_mining/one raw data/row_151.csv
Row 152 saved to /content/drive/MyDrive/Data_mining/one raw data/row_152.csv
Row 153 saved to /content/drive/MyDrive/Data_mining/one raw data/row_153.csv
Row 154 saved to /content/drive/MyDrive/Data_mining/one raw data/row_154.csv
Row 155 saved to /content/drive/MyDrive/Data_mining/one raw data/row_155.csv
Row 156 saved to /content/drive/MyDrive/Data_mining/one raw data/row_156.csv
Row 157 saved to /content/drive/MyDrive/Data_mining/one raw data/row_157.csv
Row 158 saved to /content/drive/MyDrive/Data_mining/one raw data/row_158.csv
Row 159 saved to /content/drive/MyDrive/Data_mining/one raw data/row_159.csv
Row 160 saved to /content/drive/MyDrive/Data_mining/one raw data/row_160.csv
Row 161 saved to /content/drive/MyDrive/Data_mining/one raw data/row_161.csv
Row 162 saved to /content/drive/MyDrive/Data_mining/one raw data/row_162.csv
Row 163 saved to /content/drive/MyDrive/Data_mining/one raw data/row_163.csv
Row 164 saved to /content/drive/MyDrive/Data_mining/one raw data/row_164.csv
Row 165 saved to /content/drive/MyDrive/Data_mining/one raw data/row_165.csv
Row 166 saved to /content/drive/MyDrive/Data_mining/one raw data/row_166.csv
Row 167 saved to /content/drive/MyDrive/Data_mining/one raw data/row_167.csv
Row 168 saved to /content/drive/MyDrive/Data_mining/one raw data/row_168.csv
Row 169 saved to /content/drive/MyDrive/Data_mining/one raw data/row_169.csv
Row 170 saved to /content/drive/MyDrive/Data_mining/one raw data/row_170.csv
Row 171 saved to /content/drive/MyDrive/Data_mining/one raw data/row_171.csv
Row 172 saved to /content/drive/MyDrive/Data_mining/one raw data/row_172.csv
Row 173 saved to /content/drive/MyDrive/Data_mining/one raw data/row_173.csv
Row 174 saved to /content/drive/MyDrive/Data_mining/one raw data/row_174.csv
Row 175 saved to /content/drive/MyDrive/Data_mining/one raw data/row_175.csv
Row 176 saved to /content/drive/MyDrive/Data_mining/one raw data/row_176.csv
Row 177 saved to /content/drive/MyDrive/Data_mining/one raw data/row_177.csv
Row 178 saved to /content/drive/MyDrive/Data_mining/one raw data/row_178.csv
Row 179 saved to /content/drive/MyDrive/Data_mining/one raw data/row_179.csv
Row 180 saved to /content/drive/MyDrive/Data_mining/one raw data/row_180.csv
Row 181 saved to /content/drive/MyDrive/Data_mining/one raw data/row_181.csv
Row 182 saved to /content/drive/MyDrive/Data_mining/one raw data/row_182.csv
Row 183 saved to /content/drive/MyDrive/Data_mining/one raw data/row_183.csv
Row 184 saved to /content/drive/MyDrive/Data_mining/one raw data/row_184.csv
Row 185 saved to /content/drive/MyDrive/Data_mining/one raw data/row_185.csv
Row 186 saved to /content/drive/MyDrive/Data_mining/one raw data/row_186.csv
Row 187 saved to /content/drive/MyDrive/Data_mining/one raw data/row_187.csv
Row 188 saved to /content/drive/MyDrive/Data_mining/one raw data/row_188.csv
Row 189 saved to /content/drive/MyDrive/Data_mining/one raw data/row_189.csv
Row 190 saved to /content/drive/MyDrive/Data_mining/one raw data/row_190.csv
Row 191 saved to /content/drive/MyDrive/Data_mining/one raw data/row_191.csv
Row 192 saved to /content/drive/MyDrive/Data_mining/one raw data/row_192.csv
Row 193 saved to /content/drive/MyDrive/Data_mining/one raw data/row_193.csv
Row 194 saved to /content/drive/MyDrive/Data_mining/one raw data/row_194.csv
Row 195 saved to /content/drive/MyDrive/Data_mining/one raw data/row_195.csv
Row 196 saved to /content/drive/MyDrive/Data_mining/one raw data/row_196.csv
Row 197 saved to /content/drive/MyDrive/Data_mining/one raw data/row_197.csv
Row 198 saved to /content/drive/MyDrive/Data_mining/one raw data/row_198.csv
Row 199 saved to /content/drive/MyDrive/Data_mining/one raw data/row_199.csv
Row 200 saved to /content/drive/MyDrive/Data_mining/one raw data/row_200.csv
Row 201 saved to /content/drive/MyDrive/Data_mining/one raw data/row_201.csv
Row 202 saved to /content/drive/MyDrive/Data_mining/one raw data/row_202.csv
Row 203 saved to /content/drive/MyDrive/Data_mining/one raw data/row_203.csv
Row 204 saved to /content/drive/MyDrive/Data_mining/one raw data/row_204.csv
Row 205 saved to /content/drive/MyDrive/Data_mining/one raw data/row_205.csv
Row 206 saved to /content/drive/MyDrive/Data_mining/one raw data/row_206.csv
Row 207 saved to /content/drive/MyDrive/Data_mining/one raw data/row_207.csv
Row 208 saved to /content/drive/MyDrive/Data_mining/one raw data/row_208.csv
Row 209 saved to /content/drive/MyDrive/Data_mining/one raw data/row_209.csv
Row 210 saved to /content/drive/MyDrive/Data_mining/one raw data/row_210.csv
Row 211 saved to /content/drive/MyDrive/Data_mining/one raw data/row_211.csv
Row 212 saved to /content/drive/MyDrive/Data_mining/one raw data/row_212.csv
Row 213 saved to /content/drive/MyDrive/Data_mining/one raw data/row_213.csv
Row 214 saved to /content/drive/MyDrive/Data_mining/one raw data/row_214.csv
Row 215 saved to /content/drive/MyDrive/Data_mining/one raw data/row_215.csv
Row 216 saved to /content/drive/MyDrive/Data_mining/one raw data/row_216.csv
Row 217 saved to /content/drive/MyDrive/Data_mining/one raw data/row_217.csv
Row 218 saved to /content/drive/MyDrive/Data_mining/one raw data/row_218.csv
Row 219 saved to /content/drive/MyDrive/Data_mining/one raw data/row_219.csv
Row 220 saved to /content/drive/MyDrive/Data_mining/one raw data/row_220.csv
Row 221 saved to /content/drive/MyDrive/Data_mining/one raw data/row_221.csv
Row 222 saved to /content/drive/MyDrive/Data_mining/one raw data/row_222.csv
Row 223 saved to /content/drive/MyDrive/Data_mining/one raw data/row_223.csv
Row 224 saved to /content/drive/MyDrive/Data_mining/one raw data/row_224.csv
Row 225 saved to /content/drive/MyDrive/Data_mining/one raw data/row_225.csv
Row 226 saved to /content/drive/MyDrive/Data_mining/one raw data/row_226.csv
Row 227 saved to /content/drive/MyDrive/Data_mining/one raw data/row_227.csv
Row 228 saved to /content/drive/MyDrive/Data_mining/one raw data/row_228.csv
Row 229 saved to /content/drive/MyDrive/Data_mining/one raw data/row_229.csv
Row 230 saved to /content/drive/MyDrive/Data_mining/one raw data/row_230.csv
Row 231 saved to /content/drive/MyDrive/Data_mining/one raw data/row_231.csv
Row 232 saved to /content/drive/MyDrive/Data_mining/one raw data/row_232.csv
Row 233 saved to /content/drive/MyDrive/Data_mining/one raw data/row_233.csv
Row 234 saved to /content/drive/MyDrive/Data_mining/one raw data/row_234.csv
Row 235 saved to /content/drive/MyDrive/Data_mining/one raw data/row_235.csv
Row 236 saved to /content/drive/MyDrive/Data_mining/one raw data/row_236.csv
Row 237 saved to /content/drive/MyDrive/Data_mining/one raw data/row_237.csv
Row 238 saved to /content/drive/MyDrive/Data_mining/one raw data/row_238.csv
Row 239 saved to /content/drive/MyDrive/Data_mining/one raw data/row_239.csv
Row 240 saved to /content/drive/MyDrive/Data_mining/one raw data/row_240.csv
Row 241 saved to /content/drive/MyDrive/Data_mining/one raw data/row_241.csv
Row 242 saved to /content/drive/MyDrive/Data_mining/one raw data/row_242.csv
Row 243 saved to /content/drive/MyDrive/Data_mining/one raw data/row_243.csv
Row 244 saved to /content/drive/MyDrive/Data_mining/one raw data/row_244.csv
Row 245 saved to /content/drive/MyDrive/Data_mining/one raw data/row_245.csv
Row 246 saved to /content/drive/MyDrive/Data_mining/one raw data/row_246.csv
Row 247 saved to /content/drive/MyDrive/Data_mining/one raw data/row_247.csv
Row 248 saved to /content/drive/MyDrive/Data_mining/one raw data/row_248.csv
Row 249 saved to /content/drive/MyDrive/Data_mining/one raw data/row_249.csv
Row 250 saved to /content/drive/MyDrive/Data_mining/one raw data/row_250.csv
Row 251 saved to /content/drive/MyDrive/Data_mining/one raw data/row_251.csv
Row 252 saved to /content/drive/MyDrive/Data_mining/one raw data/row_252.csv
Row 253 saved to /content/drive/MyDrive/Data_mining/one raw data/row_253.csv
Row 254 saved to /content/drive/MyDrive/Data_mining/one raw data/row_254.csv
Row 255 saved to /content/drive/MyDrive/Data_mining/one raw data/row_255.csv
Row 256 saved to /content/drive/MyDrive/Data_mining/one raw data/row_256.csv
Row 257 saved to /content/drive/MyDrive/Data_mining/one raw data/row_257.csv
Row 258 saved to /content/drive/MyDrive/Data_mining/one raw data/row_258.csv
Row 259 saved to /content/drive/MyDrive/Data_mining/one raw data/row_259.csv
Row 260 saved to /content/drive/MyDrive/Data_mining/one raw data/row_260.csv
Row 261 saved to /content/drive/MyDrive/Data_mining/one raw data/row_261.csv
Row 262 saved to /content/drive/MyDrive/Data_mining/one raw data/row_262.csv